/* Colors */
 /* color: #1F2937;
    color: #F9FAF8;
    color: #E5E7EB;
    color: #3882F9; */

body {
    height: 100vh;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}

.header, .footer {
    display: flex;
    justify-content: justify-content;
    align-items: center;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

body, ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

p {
    margin: 0;
}

.header, .footer, a, .headline {
    background-color: #1F2937;
}

.container-header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 20px 250px 0px 250px;
}

.header-logo, .header-link {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.headline-paragraph, .footer {
    color: #E5E7EB;
}

.headline-paragraph {
    font-size: 18px;
}

button {
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 35px;
    border-radius: 5px;
    font-size: 16px;
}

#button-headline {
    background-color: #3881F6;
    border: none;
}

.headline, .headline-text {
    display: flex;
}

.headline {
    justify-content: space-between;
    padding: 100px 250px;
    gap: 30px;
}

.headline-text {
    flex-direction: column;
    justify-content: center;
    gap: 15px
}

.headline-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.headline-image-container {
    display: flex;
    align-items: center;
    width: 1200px;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 50px 250px 150px 250px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.information-image-text {
    display: flex;
    gap: 40px;
    padding: 0 60px;
    justify-content: center;
}

.containter-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
}

.information-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #3881F6;
}

.information-paragraph {
    font-size: 14px;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 350px 100px 350px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.action {
    padding: 100px 250px 100px 250px;
}

.call-to-action {
    background-color: #3881F6;
    padding: 30px 100px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.action-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.call-action-text {
    font-weight: bold;
}

.action-paragraph {
    color: #E5E7EB;
}

#button-action {
    background-color: #3881F6;
    border: 2px solid #F9FAF8;
}
