body {
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header,
.header-logo, 
.header-link,
.container-header,
.headline, 
.headline-text, 
.headline-image-container,
.information,
h2, ul,
.information-image-text,
.containter-image,
.author,
.call-to-action,
.action-texts,
.footer {
    display: flex;
}

.headline-text, h2,
.information-image-text,
.containter-image,
.footer {
    justify-content: center;
}

.header, 
.header-logo, 
.header-link,
.headline-image-container,
.containter-image,
.call-to-action,
.footer {
    align-items: center;
}

.headline-text,
.information,
.containter-image,
.action-texts {
    flex-direction: column;
}

.header-logo,
h1, button,
.call-to-action {
    color: #F9FAF8;
}

.headline-paragraph, 
.header-link,
.action-paragraph,
.footer, a {
    color: #E5E7EB;
}

.quote-text,
.information-paragraph {
    color: #1F2937;
}

.header-logo,
button,
.author,
.call-action-text {
    font-weight: bold;
}

button,
.information-image,
.call-to-action {
    border-radius: 5px;
}

#button-headline,
.call-to-action,
#button-action {
    background-color: #3881F6;
}

body, ul, p, h1 {
    margin: 0;
}

.header, .footer, a, .headline {
    background-color: #1F2937;
}

.container-header,
.headline,
.call-to-action {
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
}

.container-header {
    flex-grow: 1;
    margin: 20px 250px 0px 250px;
}

.header-logo {
    font-size: 24px;
}

.header-link, .headline-paragraph {
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    padding: 8px 35px;
    font-size: 16px;
}

#button-headline {
    border: none;
}

.headline {
    padding: 100px 250px;
    gap: 30px;
}

.headline-text {
    gap: 15px
}

.headline-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.headline-image-container {
    width: 1200px;
}

.information {
    padding: 50px 250px 150px 250px;
}

h2 {
    margin: 0 0 50px 0;
}

.information-image-text {
    gap: 40px;
    padding: 0 60px;
}

.containter-image {
    gap: 10px;
    width: 150px;
}

.information-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3881F6;
}

.information-paragraph {
    font-size: 14px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 350px 100px 350px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    justify-content: flex-end;
}

.action {
    padding: 100px 250px 100px 250px;
}

.call-to-action {
    padding: 30px 100px;
}

.action-texts {
    gap: 5px;
}

#button-action {
    border: 2px solid #F9FAF8;
}

.footer {
    padding: 30px 250px 30px 250px;
}
